body{ color:#1C1C1C; background:#1e62a6;}
body,h5,h6{font-family: 'Nunito', sans-serif; font-weight:400;}
h1,h2,h3,h4{ font-family: 'Ubuntu', sans-serif; font-weight:normal; letter-spacing:-0.04em;}
h4{ font-size:1.2rem;}
img{max-width: 100%; width:auto!important; height: auto !important}
.clr{display: block; height: 1px; clear: both;}
.pp-feedback i{ position:fixed; bottom:2rem; right:2rem; background:#333; color:#FFF; font-size:1.5rem; width:3rem; height:3rem; border-radius:50%;-moz-border-radius:50%; -webkit-border-radius:50%; text-align:center; z-index:55;}
.pp-feedback i:before{vertical-align:-50%;}

/*Overrides*/
a{ color:#a81414;}
p{ font-size:1.05rem;}
hr{ border-color:#DADADA;}
.button,.btn{ border-radius: 3px 3px 3px 3px!important;-moz-border-radius: 3px 3px 3px 3px!important; -webkit-border-radius: 3px 3px 3px 3px!important; font-size: .9rem; padding: 0.8em 1.3rem 0.7rem 1.3rem; text-transform:uppercase; line-height: 1rem;}
.button.alert{ background-color:#a81414;}
.button.alert:hover{background-color:#bb2121;}
.button.primary{ background-color:#1e62a6;}
.button.primary:hover{ background-color:#2469af;}
.button.hollow.primary,.button.hollow.alert,.button.hollow.success{ background:none!important}
.button.hollow.success { border: 1px solid #25aa01; color: #25aa01;}
.button.plain, .button.plain:hover,.button.plain:focus,.button.plain:active{ background:none; border:none; color:#252525;}
header.plain .button.plain, header.plain .button.plain:hover,header.plain .button.plain:focus,header.plain .button.plain:active{color:#FFF;}
header .button.plain:after,header.plain .title-bar .button.plain:after{border-color: #252525 transparent transparent;}
header.plain .button.plain:after{border-color: #fefefe transparent transparent;}.title-bar button{ cursor:pointer; font-size:1.25rem; text-transform:uppercase;}
.menu .active > a {background: none;color: #1e62a6;}
.top-bar{-webkit-transition: all 0.5s; transition: all 0.5s;}
label,.accordion-title{ font-size:1rem;}
.cright ul.accordion {border-bottom: 1px solid #e6e6e6;}


/*General Styling*/
.paddrnd{ padding:1rem 1.25rem;}
.nobpadd{ padding-bottom:0!important}
.notpadd{ padding-top:0!important}
.nobmarg{ margin-bottom:0!important}
.notmarg{ margin-top:0!important}
.bdtop{border-top:1px solid #DDD;}
.bdbottom{border-bottom:1px solid #DDD;}
.pp-body{ overflow:hidden;}
.pp-body,body.solid,.solid.whtbg .pp-body{ background:#FFF;}
body.solid.fblue{background:#1e62a6;}
.solid .pp-body{ background:#f2f2f2; padding-bottom:2rem;}
.boxgrad{-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.26);
-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.26);
box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.26); background:#FFF; border-radius: 3px 3px 3px 3px;-moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; }
.form-group select{ margin-bottom:0;}
.help-text{margin: -.7rem 0 .7rem 0;}
.daterange .button,.datewrap .ui-datepicker-trigger{  border-radius: 0px!important;-moz-border-radius: 0px!important; -webkit-border-radius: 0px!important; background:#f5f5f5; color:#a0a0a0; padding-left:.7rem; padding-right:.7rem; border:1px solid #cacaca!important; border-width:1px 1px 1px 1px!important;}
.datewrap{ position:relative;}
.datewrap .button,.datewrap .ui-datepicker-trigger{ position:absolute; right:0; top:0; height:100%}
.form-horizontal .datewrap .ui-datepicker-trigger{}
.datewrap .hasDatepicker{ width:100%!important;}
.input-group-label{ background:#f5f5f5; color:#a0a0a0;}
.input-group-label i,.input-group-button i{ font-size:1.5rem; vertical-align:-5px;}
.input-group-label .has-tip { font-weight:400; border:none;}
input.has-tip{ cursor:text;}
table{border-collapse: collapse;border-spacing: 0;}
table td, table th{ border:1px solid #e4e4e4; border-width:1px 1px 0 0; font-size:.9rem}
table tbody, table tfoot, table thead { border-color:#e4e4e4; border-right:none;}
table tbody tr:nth-child(2n) { background-color:#fafafa;}
table thead {background-color:#f2f2f2;}
table.unstriped td{ border-width:0 0 1px 0; background:none;}
table.unstriped thead {background-color:#fff;}
table.unstriped tbody tr:nth-child(2n) { background-color:#fff;}
table.unstriped tbody, table.unstriped tfoot, table.unstriped thead{ border:none;}
table tbody td, table tbody th {padding: .4rem .525rem .525rem .525rem; vertical-align: top;}
.callout ul{ margin:0 ;padding:0; list-style:none}


/*Header*/
.top-bar{ padding-top:0;padding-bottom:0; border-bottom:1px solid #DADADA; font-family: 'Nunito', sans-serif; text-transform:uppercase;  }
.top-bar .menu-text img{ max-height:36px;}
.top-bar .menu-text { padding-right:0; padding-top:.5rem!important; padding-bottom:.5rem!important;}
.top-bar .menu > li > a,.top-bar .menu > li  a {padding-top:.3rem!important; padding-bottom:.3rem!important; color:#565656;}
.top-bar .top-bar-right .menu > li > a , .top-bar .top-bar-right .menu > li a {padding-left:.4rem!important; padding-right:.4rem!important; }.top-bar .submenu > li > a {padding-top:.7rem!important; padding-bottom:.7rem!important; }
.top-bar .top-bar-right .dropdown.menu > li.is-dropdown-submenu-parent > a { padding-right:1.5rem!important;}
.top-bar ul li .submenu{ border-color:#FFF #DADADA #DADADA #DADADA; text-transform:none}
.top-bar ul li .submenu .submenu{ border-color:#DADADA #DADADA #DADADA #DADADA!important;}
.top-bar .submenu > li > a {padding-top:.7rem!important; padding-bottom:.7rem!important; }.top-bar .top-bar-left .menu > li > a { font-size:1.4rem; letter-spacing:-0.05em; font-weight:bold; font-family: 'Nunito', sans-serif;}.top-bar .top-bar-left .submenu > li > a {  font-size:.9rem; font-weight:normal; font-family: 'Nunito', sans-serif; letter-spacing:0em; text-transform:none;}
.top-bar ul{ border-color:#DADADA; border-top-color:#DADADA; background-color:transparent;}
.top-bar, .top-bar li ul { background-color:#FFF; -webkit-transition: background 0.5s; transition: background 0.5s;}
.top-bar select, .topbar select:focus { border:none!important;}
.top-bar select {font-size:.8rem; padding-right: 1.4rem; padding-left: 0.4rem; background-color:transparent;}
.top-bar .dropdown.menu > li.is-dropdown-submenu-parent > a::after { border-color:#1e62a6 transparent transparent;}
.top-bar .secimg.s2{ padding-left:0;}
.top-bar .secimg span{ background:#fff; padding:.4rem; margin:.3rem 0 .3rem 0; display:block; overflow:hidden;}
.top-bar .secimg img{ max-height:30px;}
.top-bar .button.plain{ line-height:1; margin-top:.2rem; font-size:.8rem}
header .dropdown-pane{ padding:0px;border-width:0 1px 1px 1px;}
header ul.clist{ list-style:none; margin:0px; padding:0px; } 
header ul.clist li a{ font-size:1rem; padding:.4rem .7rem; border-top:1px solid #dadada; display:block}
.top-bar ul.clist li a{ font-size:.8rem;}
.top-bar .country .dropdown-pane, .top-bar .country form,.top-bar .country select{ max-width:150px;}
.top-bar .top-bar-left .menu li.country > a { font-size:.8rem;}
.top-bar .country .button.plain img{ position:relative; top:-1px;}
.top-bar .top-bar-left .menu > li.is-current,.top-bar .top-bar-left .menu > li.active{ background:url(../img/vert3px-bl.png) left bottom repeat-x;}
.plain .top-bar .top-bar-left .menu > li.is-current,.plain .top-bar .top-bar-left .menu > li.active{ background:url(../img/vert3px-wh.png) left bottom repeat-x;}
.top-bar .top-bar-left .menu > li.is-current li,.top-bar .top-bar-left .menu > li.active li{ background:none!important;}
.solid .top-bar .top-bar-left .menu li.is-current > a,.solid .top-bar .top-bar-left .menu li.active > a{color:#1e62a6!important;}
header.plain .top-bar .top-bar-left .menu > li li.is-current > a,header.plain .top-bar .top-bar-left .menu li li.active > a{color:#1e62a6!important;}
header.plain li.home.active{ background:none!important;}
header.plain .top-bar .menu > li.home.active > a{color:rgba(255,255,255,0.45);}

header .title-bar{ background:#FFF!important; color:#565656!important; padding-top:0; padding-bottom:0; border-bottom:1px solid #DADADA;}
header .title-bar a{padding:0.3rem .5rem; display:inline-block;}
header .title-bar img{ max-height:36px; }
header .title-bar button{ float:right; padding:.9rem .5rem; border-left:1px solid #DADADA;}
header .title-bar button:focus {outline:none; color:#1e62a6;}
header .title-bar .button.plain{ padding-top:.8rem; padding-bottom:.8rem; margin:0;}
header .title-bar .cdrop span{ display:none;}

/*footer*/
.pp-supported{ text-align:center; padding: 1.5rem 0 1.5rem 0; border-top:1px solid #DADADA; background:#FFF}
.pp-supported img{padding:0 .4rem; max-height:30px;}
.pp-summary, .pp-summary li{ background:#1e62a6; color:#FFF; line-height:1.3rem; font-size:.9rem;}
.pp-summary h4{ font-size:1.27rem; text-transform:uppercase;}
.pp-summary a{color:#FFF;}
.pp-summary ul{ margin:0; padding:0; list-style:none;}
.pp-summary .col{padding-top:1.4rem; padding-bottom:1.7rem; border-right:1px solid rgba(255,255,255,0.45); min-height:190px;}
.pp-summary .col.last{border-right:none;}
.pp-copyright{border-top:1px solid rgba(255,255,255,0.45); padding:1.5rem 0; color:#fff; font-size:0.9rem; background:#1e62a6; color:#FFF;}
.pp-copyright .social i{ border:2px solid rgba(255,255,255,0.5); color:rgba(255,255,255,0.5); width:2rem; height:2rem; border-radius:50%;-moz-border-radius:50%; -webkit-border-radius:50%; text-align:center; margin:0 .1rem; font-size:.93rem; -webkit-transition: all 0.5s; transition: all 0.5s;}
.pp-copyright .social i:before{vertical-align:-50%;}
.pp-copyright .social i:hover{ border:2px solid rgba(255,255,255,1); color:rgba(255,255,255,1);  -webkit-transition: all 0.5s; transition: all 0.5s;}
.pp-copyright.short{ color:#1c1c1c; border-top:1px solid #dadada; background:#FFF;}
.pp-copyright.short .social i{ border-color:#666; color:#666;}
.pp-copyright.short .social i:hover{  border-color:#252525; color:#252525;}
.foot-links{ margin:0; padding:0; list-style:none;}
.foot-links li a{color:#4c4c4c; padding:0 .3rem; margin:0 .3rem; display:block }
.foot-links li a:hover{ color:#1c1c1c;}
.cmenu li{ white-space:nowrap;}
.star{ color:#F00}
#sidr-id-logo,.sidr-class-menu-text{display:none;}

/* Small only */
@media screen and (max-width: 39.9375em) {
	html.mobile.android{ font-size:14px;}
	.solid .pp-body{ padding-top:0; padding-bottom:1rem;}
	.top-bar{ padding:0;}
	.top-bar-right{ border-bottom:1px solid #DADADA;  border-top:1px solid #DADADA;}
	.top-bar-left,.top-bar-right{float:none!important; padding-left:0.5em; padding-right:0.5em; }
	.top-bar .menu > li > a {padding-top: .7rem !important; padding-bottom: .7rem !important;}
	
	/*Menu*/
	#pp-menu,li.sidr-class-country,li.sidr-class-country,#responsive-menu li.country,#responsive-menu li.sec{ display:none!important;}
	.sidr ul li.sidr-class-is-submenu-item ul{ display:none;}
	.sidr ul li.sidr-class-is-submenu-item ul li a{padding-left:45px;}
	.sidr-class-is-dropdown-submenu-parent.sidr-class-is-submenu-item a:after{ content:"+"; float:right;}
	.sidr-class-is-dropdown-submenu-parent.sidr-class-is-submenu-item li a:after{ content:"";}	/*Footer*/
	.pp-supported{ padding: 1rem 0 1rem 0; }
	.pp-supported span{ display:block; padding-bottom:.5rem;}
	.pp-supported img{padding:.4rem; max-height:40px;}
	footer .title-bar{ background-color:transparent!important; color:#FFF!important; padding:0;}
	footer .title-bar button{ width:100%; color:#FFF; padding:.7rem; font-size:.94rem}
	.pp-summary .col{ border-top:1px solid rgba(255,255,255,0.45); padding-top:1.4rem; padding-bottom:1.4rem; border-right:none; min-height:0;}
	.pp-summary .col h4, .pp-summary .col li a,.pp-summary .col.c4 .row{padding-left:0.7rem; padding-right:0.7rem;}
	.pp-summary .col.c1,.pp-summary .col.c1{}
	.pp-summary .col.c2,.pp-summary .col.c4{ border-left:1px solid rgba(255,255,255,0.45);}
	.pp-summary .col.last h4{ text-align:center;}
	.pp-copyright{text-align:center;}
	.pp-copyright .social{ float:none!important;  padding-bottom:.9rem}
	.foot-links li{ margin-bottom:.4rem;}
	.foot-links{ margin-bottom:1rem}

}

/* Medium and up */
@media screen and (min-width: 40em) {
	.solid .pp-body{ padding-top:124px;}
	header .top-bar{ position:fixed; top:0; left:0; right:0; z-index:10;}
	header .country{ border-right:1px solid #DADADA; padding-right:1rem;}
	header .top-bar-right li{border-left:1px solid #DADADA;}
	header .top-bar-right li:last-child{ border:none;}
	header .top-bar select option{ color:#565656;}
	/*Plain*/
	header.plain .top-bar, header.plain .top-bar ul,header.plain select{ background-color:transparent; color:#FFF; border-color:rgba(255,255,255,0.45); }
	header.plain .top-bar ul.submenu{ background:#FFF;}
	header.plain .top-bar .menu > li > a { color:#FFF;}
	header.plain .top-bar .submenu > li > a { color:#565656;}
	header.plain .top-bar ul{ border-color:rgba(255,255,255,0.45); border-top-color:rgba(255,255,255,0.45);}
	header.plain .top-bar .dropdown.menu > li.is-dropdown-submenu-parent > a::after { border-color:rgba(255,255,255,0.45) transparent transparent;}
	header.plain .top-bar .dropdown.menu > li.is-dropdown-submenu-parent.is-current > a::after { border-color:rgba(255,255,255,1) transparent transparent;}
	header.plain .country{ border-right-color:rgba(255,255,255,0.45)}
	header.plain .top-bar select option{ color:#FFF!important; line-height:1.31rem;}
	header.plain .top-bar-right li{border-left-color:rgba(255,255,255,0.45)}
	
	/*Footer*/
	.social{margin-top:-5px; float:right;}
	.pp-contentblock.pp-links .blist li{ display:table-cell; padding:0 .3rem;}
	.foot-links{float:right;}
	.foot-links li{ display:inline-block;}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 64.119em) {
	/*Header*/
	.top-bar{padding:0;}
	.top-bar-right{ border-bottom:1px solid #DADADA;}
	.top-bar-right,.top-bar-left{ float:none;}
	.top-bar-right ul.menu{ float:right;}
	header.plain .top-bar-right{border-bottom:1px solid rgba(255,255,255,0.45)}
	.top-bar .top-bar-right .menu > li > a {padding-left:.7rem!important; padding-right:.7rem!important;}
	
	/*Footer*/
	.pp-summary .col{ min-height:250px;}
	.pp-summary .col.c4{ border-right:none;}
	.pp-summary .col.last{ border-top:1px solid rgba(255,255,255,0.45); min-height:0; padding:1.4rem .935rem 1.4rem; text-align:center}
	.pp-summary .col.last .row{ margin:0;}
	.pp-summary .col.last li, .pp-summary .col.last ul,.pp-summary .col.last .column{ display:inline-block; width:auto; float:none; padding:0;}
	.pp-summary .col.last li{padding:.3rem .7rem}
}

/* Large and up */
@media screen and (min-width: 64.12em) {
	.solid .pp-body{ padding-top:62px;}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}

@media screen and (min-width: 75em){
	.top-bar .top-bar-right .menu > li > a {padding-left:.7rem!important; padding-right:.7rem!important;	 }
}
